<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Documentos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link  type="text/css" rel="stylesheet" href="/static/css/styles.css">
    <script>
        function cerrar_sesion() {
            document.cookie = "user_id=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            window.location.href = "/templates/inicio.html";
        }   

        document.addEventListener("DOMContentLoaded", function() {
            // Function to get a cookie value by name
            function getCookie(cname) {
                let name = cname + "=";
                let decodedCookie = decodeURIComponent(document.cookie);
                let ca = decodedCookie.split(';');
                for(let i = 0; i < ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            const username = getCookie("username");

            // Get the elements
            const userContainer = document.getElementById("success-message");
            const usernameElement = document.getElementById("username");
            const navbarNav = document.getElementById("n");
            const logoutContainer = document.getElementById("logout-container");
            const navbar = document.getElementById("navbar");
            const carpeta = document.getElementById("carp");

            if (username !== "") {
                // If a user is logged in, display the username and hide the navigation bar
                userContainer.style.display = "block";
                usernameElement.innerText = username;
                navbarNav.style.display = "none";
                logoutContainer.style.display = "block";
                navbar.style.display = "block";
                carpeta.style.display = "block";

                
            } else {
                // If no user is logged in, hide the user-container and show the navigation bar
                userContainer.style.display = "none";
                navbarNav.style.display = "block";
                logoutContainer.style.display = "none";
                navbar.style.display = "none";
                carpeta.style.display = "none";

            }
        });


        function setCookie(cname, cvalue, exdays) {
          const d = new Date();
          d.setTime(d.getTime() + (exdays*24*60*60*1000));
          let expires = "expires="+ d.toUTCString();
          document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }
        
        let carpetasPorPagina = 9;
        let paginaActual = 1;
        let totalCarpetas = 0;

        document.addEventListener("DOMContentLoaded", async function () {
            await cargar_carpetas_iniciales();
            document.getElementById("siguienteBtn").addEventListener("click", function () {
                if ((paginaActual - 1) * carpetasPorPagina < totalCarpetas) {
                    paginaActual++;
                    mostrar_carpetas_en_pagina(carpetas);
                }
            });
        });

        async function cargar_carpetas_iniciales() {
            try {
                const response = await fetch("http://127.0.0.1:8000/carpeta/get_all_carpeta");
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                const carpetas = await response.json();
                totalCarpetas = carpetas.length;
                mostrar_carpetas_en_pagina(carpetas);
            } catch (error) {
                console.error('Error:', error);
            }
        }

        function mostrar_carpetas_en_pagina(carpetas) {
            const listaCarpetas = document.getElementById("listaCarpetas");
            listaCarpetas.innerHTML = "";

            const inicio = (paginaActual - 1) * carpetasPorPagina;
            const fin = Math.min(inicio + carpetasPorPagina, totalCarpetas);

            for (let i = inicio; i < fin; i++) {
                const carpeta = carpetas[i];
                const carpetaElemento = document.createElement("a");
                carpetaElemento.classList.add("list-group-item", "list-group-item-action");
                carpetaElemento.textContent = carpeta.id;
                carpetaElemento.addEventListener("click", function () {
                    cargar_contenido_carpeta(carpeta.id);
                });
                listaCarpetas.appendChild(carpetaElemento);
            }

            // Mostrar botones "Anterior" y "Siguiente"
            const divBotones = document.getElementById("divBotones");
            divBotones.innerHTML = "";

            const btnAnterior = document.createElement("button");
            btnAnterior.textContent = "Anterior";
            btnAnterior.classList.add("btn", "btn-secondary", "mr-2");
            btnAnterior.addEventListener("click", function () {
                if (paginaActual > 1) {
                    paginaActual--;
                    mostrar_carpetas_en_pagina(carpetas);
                }
            });
            divBotones.appendChild(btnAnterior);

            const btnSiguiente = document.createElement("button");
            btnSiguiente.textContent = "Siguiente";
            btnSiguiente.classList.add("btn", "btn-secondary");
            btnSiguiente.addEventListener("click", function () {
                if ((paginaActual - 1) * carpetasPorPagina < totalCarpetas) {
                    paginaActual++;
                    mostrar_carpetas_en_pagina(carpetas);
                }
            });
            divBotones.appendChild(btnSiguiente);
        }

        async function cargar_contenido_carpeta(carpeta) {
            try {
                // Realizar una llamada al servidor para obtener los archivos de la carpeta seleccionada
                const response = await fetch(`http://127.0.0.1:8000/file/get_documento/${carpeta}`);
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                const documentos = await response.json();

                // Actualizar la carpeta actual en la interfaz
                document.getElementById("carpeta-actual").innerText = `Carpeta Actual: ${carpeta}`;
                setCookie("carpeta", carpeta, 1);

                // Actualizar la lista de archivos en la interfaz
                const listaArchivos = document.getElementById("listaArchivos");
                listaArchivos.innerHTML = "";

                documentos.forEach(documento => {
                    const documentoElemento = document.createElement("li");
                    documentoElemento.classList.add("list-group-item");
                    documentoElemento.textContent = documento;
                    listaArchivos.appendChild(documentoElemento).addEventListener("click", function () {
                        displayFile(documento);
                    });

                });
            } catch (error) {
                console.error('Error:', error);
            }
            
        }

        function displayFile(documento) {
            // Eliminar espacios en blanco al principio o al final del nombre del archivo
            const nombreArchivo = documento.trim().replace("Archivo:", "");

            // Reemplazar espacios en blanco con %20 en la URL
            const nombreArchivoUrl = nombreArchivo.replace(/\s+/g, "");

            // Obtener la extensión del archivo
            const extension = nombreArchivo.toLowerCase().split('.').pop();

            // Determinar el tipo de archivo
            let tipoArchivo = "otros";
            if (["png", "jpg", "jpeg", "gif", "bmp", "ico", "webp"].includes(extension)) {
                tipoArchivo = "images";
            } else if (["mp4", "avi", "mkv", "mov", "wmv", "flv", "webm"].includes(extension)) {
                tipoArchivo = "videos";
            } else if (["txt", "docx", "doc", "odt", "rtf", "tex", "wks", "wps", "wpd"].includes(extension)) {
                tipoArchivo = "docs/text";
            } else if (["pdf"].includes(extension)) {
                tipoArchivo = "docs/pdf";
            }

            // Construir la URL completa
            const baseUrl = `http://127.0.0.1:8000/files/${tipoArchivo}/`;
            const fileUrl = `${baseUrl}${nombreArchivoUrl}`;

            // Abrir la URL en una nueva pestaña
            window.open(fileUrl, '_blank');
        }


        async function crear_carpeta() {
            var nombre = document.getElementById("nombreCarpeta").value;

            const json = {
                nombre: nombre,
                tamaño: 2,
                user_id: 1,
                archivos: [],
            };

            try {
                const response = await fetch("http://127.0.0.1:8000/carpeta/create_carpeta", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(json),
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                const nuevaCarpeta = await response.json();

                // Agregar la nueva carpeta a la lista dinámicamente
                const listaCarpetas = document.getElementById("listaCarpetas");
                const nuevaCarpetaElemento = document.createElement("a");
                nuevaCarpetaElemento.classList.add("list-group-item", "list-group-item-action");
                nuevaCarpetaElemento.textContent = nuevaCarpeta.nombre;
                nuevaCarpetaElemento.addEventListener("click", function () {
                    cargar_contenido_carpeta(nuevaCarpeta.nombre);
                });
                listaCarpetas.appendChild(nuevaCarpetaElemento);

                // Agregar archivos de la nueva carpeta
                const listaArchivos = document.getElementById("listaArchivos");
                listaArchivos.innerHTML = ""; // Limpiar la lista de archivos

                nuevaCarpeta.archivos.forEach(archivo => {
                    const archivoElemento = document.createElement("li");
                    archivoElemento.classList.add("list-group-item");
                    archivoElemento.textContent = archivo;
                    listaArchivos.appendChild(archivoElemento);
                });

                // Cerrar el modal después de agregar la carpeta
                $("#crearCarpetaModal").modal("hide");
            } catch (error) {
                console.error('Error:', error);
            }
        }

        function uploadFile() {
            const fileInput = document.getElementById('fileInput');
            const file = fileInput.files[0];

            if (!file) {
                alert('Seleccione un archivo primero.');
                return;
            }

            const formData = new FormData();
            formData.append('file', file);  // Usar 'file' en lugar de 'upload_file'

            const user_id = getCookie("user_id");
            const carpeta = getCookie("carpeta");

            fetch(`http://127.0.0.1:8000/file/uploadfile/${user_id}/${carpeta}`, {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                // Handle the server response
                if (data.filename) {
                    displayUploadedFile(data.filename);
                } else {
                    alert('Error al subir el archivo.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error al subir el archivo.');
            });
        }

    
        function displayUploadedFile(filename) {
            // Construct the correct URL without the /templates path
            const imageUrl = `http://127.0.0.1:8000/${filename}`;

            const fileLink = document.createElement('a');
            fileLink.href = imageUrl;
            fileLink.textContent = imageUrl; // You can modify this as needed
            fileLink.target = '_blank'; // To open in a new tab

            const lineBreak = document.createElement('br');

            const uploadedFilesContainer = document.getElementById('uploadedFiles');
            uploadedFilesContainer.appendChild(fileLink);
            uploadedFilesContainer.appendChild(lineBreak);
        }
        

    </script>
</head>
<body>
    <header>
        <div>
            <h1>GESTIÓN DE DOCUMENTOS</h1>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-dark justify-content-center">
        <a class="navbar-brand" href="/templates/index.html">Inicio</a>
        <a  class="navbar-brand" href="/templates/carpeta.html" >Carpetas</a>
        <div id="n">
            <ul class="navbar-nav ml-4">
                <li class="nav-item">
                    <a class="nav-link" href="/templates/inicio.html">Iniciar Sesión</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="/templates/registro.html">Regístrate</a>
                </li>
            </ul>
        </div>

    <div id="success-message" style="display: none;">
        <div id="user-container" style="border: 1px solid #dc3545;  background-color: #dc3545  ; border-radius: 4px;">
        <span id="username" style="color: white; font-size: 14px; font-weight: bold;"></span>
        </div>
    </div>

    <div id="logout-container" style="display: none; ">
        <span id="username" style="color: white;"></span>
        <button onclick="cerrar_sesion()" class="btn btn-danger btn-sm">Cerrar Sesión</button>
    </div>
</nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <!-- Barra lateral (izquierda) -->
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">Mis Carpetas</a>
                    <div class="list-group" id="listaCarpetas" style="border-top-left-radius: 0;border-top-right-radius: 0;">
                        <!-- Puedes generar dinámicamente estas carpetas desde tu backend -->

                    </div>
                    <div id="divBotones" style="margin-top:10px; margin-left:30px;"></div>
                </div>
            </div>
            <div class="col-md-9">
                <!-- Contenido principal (derecha) -->
                <h2 id="carpeta-actual">Carpeta Actual: </h2>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Contenido de la Carpeta</h5>
                        <ul class="list-group" id="listaArchivos">
                            <!-- Puedes generar dinámicamente estos archivos desde tu backend -->
                        </ul>
                        <input type="file" id="fileInput"/>
                        <button onclick="uploadFile()">Subir Archivo</button>
                        <div id="uploadedFiles"></div>


                    </div>
                </div>

                <div class="mt-3">
                    <!-- Botón para crear nueva carpeta -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crearCarpetaModal">
                        Crear Nueva Carpeta
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para crear nueva carpeta -->
    <div class="modal fade" id="crearCarpetaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear Nueva Carpeta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="nombreCarpeta" id="nombreCarpetaLabel">Nombre de la Carpeta:</label>
                            <input type="text" class="form-control" id="nombreCarpeta" value="" placeholder="Ingrese el nombre">
                        </div>
                        <button onclick="crear_carpeta()" class="btn btn-primary">Crear Carpeta</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
