<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzería deliciosamente suya</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">

    <script>
function uploadFile() {
    const fileInput = document.getElementById('fileInput');
    const folderInput = document.getElementById('folderInput');

    const file = fileInput.files[0];
    const folderName = folderInput.value;

    if (!file) {
        alert('Seleccione un archivo primero.');
        return;
    }

    const formData = new FormData();
    formData.append('upload_file', file);
    formData.append('folder_name', folderName);

    fetch('http://tu-api.com/uploadfile/', {
        method: 'POST',
        body: formData,
    })
    .then(response => response.json())
    .then(data => {
        // Aquí puedes manejar la respuesta del servidor
        if (data.filename) {
            displayUploadedFile(data.filename);
        } else {
            alert('Error al subir el archivo.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Error al subir el archivo.');
    });
}

function displayUploadedFile(filename) {
    const fileLink = document.createElement('a');
    fileLink.href = filename;
    fileLink.textContent = filename;
    fileLink.target = '_blank'; // Para abrir en una nueva pestaña

    const lineBreak = document.createElement('br');

    const uploadedFilesContainer = document.getElementById('uploadedFiles');
    uploadedFilesContainer.appendChild(fileLink);
    uploadedFilesContainer.appendChild(lineBreak);
}

    </script>
</head>
<body>
    <header>
        <div>
            <h1>GESTIÓN DE DOCUMENTOS</h1>
        </div>
    </header>

<nav class="navbar navbar-expand-lg navbar-dark justify-content-center">
    <a class="navbar-brand" href="/templates/base.html">Inicio</a>
    <div id="n">
    <ul class="navbar-nav ml-4" >
        <li class="nav-item">
            <a class="nav-link" href="/templates/login.html">Iniciar Sesión</a>
        </li>
        <li class="nav-item ml-3">
            <a class="nav-link" href="/templates/register.html">Regístrate</a>
        </li>
    </ul>
    </div>

    <div id="success-message" style="display: none;">
        <div id="user-container" style="border: 1px solid #dc3545;  background-color: #dc3545  ; border-radius: 4px;">
        <span id="username" style="color: white; font-size: 14px; font-weight: bold;"></span>
        </div>
    </div>

    <div id="logout-container" style="display: none; ">
        <span id="username" style="color: white;"></span>
        <button onclick="cerrar_sesion()" class="btn btn-danger btn-sm">Cerrar Sesión</button>
    </div>

</nav>

    <input type="file" id="fileInput" />
    <input type="text" id="folderInput" placeholder="Nombre de la carpeta" />
    <button onclick="uploadFile()">Subir Archivo</button>
    
    <div id="uploadedFiles"></div>

</body>
</html>
